<div class="sobremi">


<div class="row">

    <div class="col-lg-2">
        <button type="button"><i class="fa-solid fa-pen-to-square" routerLink="/nuevaeduc" *ngIf="isLogged"></i></button>
    </div>

    <h1>Educacion</h1>

    <div class="col lg 3">
        <div class="col-lg-11">
        <table class="table">
        <tbody>
            <tr *ngFor="let Educacion of educacion">
                <td>{{Educacion.nombreE}}</td>
                <td>{{Educacion.descripcion}}</td>
                <td><button type="button"><i class="fa-solid fa-pen-to-square" routerLink="/editeducacion/{{Educacion.id}}" *ngIf="isLogged"></i></button></td>
                <td><button type="button"><i class="fa-solid fa-trash" (click)="delete(Educacion.id)" *ngIf="isLogged"></i></button></td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>


</div>