<div class="container" *ngIf="habilidad">
    <div class="row">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="nombre">nombre de la habilidad</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="habilidad.nombre" required>
                
                <div class="form-group">
                <label for="porcentaje">porcentaje habilidad</label>

                <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="habilidad.porcentaje" required>
            </div>
            <button class="btn btn-primary" >Modificar Habilidad</button>
            </div>
        </form>
        
    </div>


</div>