
<!--<body>

    <div class="wrapper">
        <div class="contact-title">
            <h2>Contactame: Enviame un mensaje</h2>
            </div>
            
              <form class="form-group">
                <input type="text" id="fname" name="Nombre" placeholder="Nombre" required><br>
                <input type="text" id="lname" name="Email" placeholder="Email" required><br>
                <textarea id="subject" name="subject" placeholder="Mensaje"></textarea>
                <input type="button" class="boton" value="Enviar Mensaje">
               
              </form>
            </div>
   

    <script src="script.js"></script>
</body>-->