<body>
        
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido
                </div>
                <form id="loginform" (ngSubmit)="onLogin()" novalidate>

                    <input type="text" name="nombreUsuario" placeholder="Usuario" [(ngModel)]="nombreUsuario" required >
                    
                    <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required >
                    
                    <button type="submit" title="Ingresar" name="Ingresar" >Login</button>
                    
                </form>
                <div class="pie-form">
                    <a href="#">¿Perdiste tu contraseña?</a>
                    
                </div>
            </div>
            <div class="inferior">
                <a href="">Volver</a>
            </div>
        </div>
    </div>
        
</body>